.conteiner {
    display: block;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}

.header-owerlay {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 2;
}

.logo-sword {
    margin-left: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-conteiner {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style: none;
    gap: 1px;
    padding: 0;
    margin: 0;
    
}

.menu-item {
    display: flex;
    text-decoration: none;
}

.menu-link {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.navigation {
    display: block;
    flex-direction: column;
}

.navbtn-text {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 12px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.dropbtn1 {
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border: none;
    height: 40px;
    width: 300px;
    cursor: pointer;
}

.button-text {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: black;
}

a.glo {
    color: gray;
    padding: 15px 20px;
    text-transform: uppercase;
    width: 300px;
    text-decoration: none;
    text-align: center;
    margin: 30px 0;
    display: block;
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid gray;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: linear-gradient(50deg, #ffffff 4%, rgba(172, 172, 171, 0.5) 80%);
}

a.glo:hover {
    background-position: 0 0;
    color: black;
    background: -moz-linear-gradient(-45deg, gold 4%, rgb(75, 75, 75) 83%);
    background: -webkit-linear-gradient(-45deg, gold 4%, rgb(75, 75, 75) 83%);
    background: linear-gradient(50deg, #ffd700 4%, rgba(172, 172, 171, 1) 60%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffd700', endColorstr='#acacab', GradientType=1);
    border: 1px solid black;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header-lk {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.header-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-link {
    text-decoration: none;
    margin-bottom: 10px;
}

.section.hero {
    display: block;
    width: 1440px;
    height: 600px;
}

.hero-title {
    margin: 0;
}

.price-owerlay {
    margin-top: 30px;
    height: 630px;
}

.price-header {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.price-list {
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    justify-content: space-between;
    gap: 60px;
}

.price-item {
    list-style: none;
}

.price-box {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 2px;
    border-color: grey;
    width: 168px;
    height: 300px;
}

.price-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
}

* {
    box-sizing: border-box
}

/* Slideshow container Start*/
.slideshow-container {
    max-width: 1440px;
    position: relative;
    margin-top: 50px;
    z-index: 1;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gold !important;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    font-size: 24px;
    font-weight: 700;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    color: gold !important;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 50;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #808080;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/* Slideshow container End*/

/* Dropdown Button Start*/
.dropbtn {
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border: none;
    width: 140px;
    height: 40px;
}

.dropbtn-link {
    text-decoration: none;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: gold;
}
/* Dropdown Button End*/

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.cont {
    width: 300px;
    height: 400px;
    margin: 30px auto;
}

.cont:hover {
    cursor: pointer;
}

.cont:hover .product-properties {
  animation: shake 0.7s;
  animation-iteration-count: infinite;

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
}

.cont:hover h2 {
  animation: shake 0.7s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card {
    border-radius: 25px 25px 8px 8px;
    border: 1px solid rgba(33, 33, 33, 0.5);
}

.card:hover {
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
}

.card-head {
    position: relative;
    height: 240px;
    background: gray;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, gold 4%, rgb(75, 75, 75) 83%);
    background: -webkit-linear-gradient(-45deg, gold 4%,rgb(75, 75, 75) 83%);
    background: linear-gradient(50deg, #ffd700 4%, rgba(172, 172, 171, 1) 60%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffd700', endColorstr='#acacab', GradientType=1);
    border-radius: 25px 25px 0 0;
}

p {
    font-size: 50px;
}

.product-img {
    position: absolute;
    left: 0;
    margin-top: -75px;
    margin-left: 100px;
}

.product-detail {
    padding: 0 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.product-detail-pon {
    padding: 0 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.product-detail h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-top: 85px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.product-detail-pon h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-top: 85px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: black;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.bottom-text {
    position: absolute;
    display: inline-block;
    color: black;
    font-size: 20px;
    font-weight: 900;
    margin-left: 20px;
    margin-top: -60px;
    
}

.cont:hover .box-rate {
  animation: shake 0.7s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.back-text {
    display: inline-block;
    color: #000;
    font-size: 40px;
    font-weight: 900;
    margin-left: 20px;
    margin-top: 15px;
    opacity: 0.7;
}

.back-text-pon {
    display: inline-block;
    color: black;
    font-size: 40px;
    font-weight: 900;
    margin-left: 20px;
    margin-top: 15px;
}

.card-body {
    height: 190px;
    background: #fff;
    border-radius: 0 0 8px 8px;
}

.product-title {
    padding: 0 20px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.product-title b {
    font-weight: 900;
    letter-spacing: 0px;
}

.badge {
    position: relative;
    font-size: 10px;
    font-weight: 500;
    color: #000000;
    background: gold;
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    top: -90px;
    left: 100px;
    margin-left: 5px;
}

.product-caption {
    display: block;
    padding: 20px 20px 0px 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-price {
    width: 140px;
    position: absolute;
    background: #ffd700;
    padding: 3px 10px;
    text-align: center;
    display: inline-block;
    font-size: 42px;
    font-weight: 900;
    color: black;
    border-radius: 7px;
    margin-top: -40px;
    margin-left: 155px;
    border: 1px solid rgb(0, 0, 0);
}

.product-price b {
    font-size: 24px;
    font-weight: 500;
    margin-left: 0px;
}

.yt {
    position: fixed;
    padding: 7px 10px 3px 10px;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.yt:hover {
    background: rgba(0, 0, 0, 0.2);
}

.info-box {
    display: flex;
    margin-top: 100px;
}

.info-image {
    width: 800px;
}

.info-text {
    width: 600px;
    margin-left: 30px;
}

/*-------------------------------------*/

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(-2880px)}
}

.slider {
	background: white;
	height: 560px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
}
	
.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}
	
.slide-track {
	animation: scroll 7s linear infinite;
    animation-timing-function: steps(2, end);
	display: flex;
	width: 1440px;
}

/*------------Footer------------*/

.section-basement {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.section-box {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 0px;
    align-items: flex-start;
}

/* Footer Address Box */
.logo-secondary {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo-secondary__link {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: gold;
    text-decoration: none;
    margin-top: 0;
}

.logo-secondary {
    color: white;
}

.address__map {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 12px;
}

.address__map-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: gray;
    text-decoration: none;
}

.address__mail {
    display: flex;
    justify-content: flex-start;
}

.address__mail-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: gray;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 12px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail-link:hover,
.address__mail-link:focus {
    color: gold;

}
.address__tel {
    display: flex;
    justify-content: flex-start;
}

.address__tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: gray;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 30px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__tel-link:hover,
.address__tel-link:focus {
    color: gold;
}

/* Footer Social Networks */

.social {
    margin-bottom: 60px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 30px;
}

.social__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: gray;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
}

.social__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social__item {
    width: 44px;
    height: 44px;
}

.social__link {
    width: 100%;
    height: 100%;
    background-color: gold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
    background-color: gray;
}

.social__icon {
    fill: gray;
}

/* Footer Sign Up Box */

.sign {
    display: block;
    justify-content: center;
    margin-top: 20px;
    width: 570px;
}

.sign__text {
    display: block;
    text-align: start;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: gray;
}

.sign__form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.sign__input {
    width: 358px;
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    color: gray;
    margin-right: 12px;
    margin-bottom: 0px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign__input:focus,
.sign__input:hover {
    border-color: gold;
}

.sign__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.sign__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: gold;
    border-radius: 4px;
    border-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: gray;
}

.sign__button:hover,
.sign__button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.sign__icon {
    fill: gray;
    margin-left: 10px;
}


