.conteiner {
    display: block;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}

.header-owerlay {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-conteiner {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style: none;
    gap: 1px;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: flex;
    text-decoration: none;
}

.menu-link {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.navigation {
    display: block;
    flex-direction: column;
}

.navbtn-text {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 12px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button {
margin-top: 10px;
text-decoration: none;
}

.header-lk {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.header-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-link {
    text-decoration: none;
    margin-bottom: 10px;
}

.section.hero {
    display: block;
    width: 1440px;
    height: 600px;
}

.hero-title {
    margin: 0;
}

.price-owerlay {
    padding-top: 40px;
}

.price-list {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.price-item {
    list-style: none;
}

.price-box {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 2px;
    border-color: grey;
    width: 168px;
    height: 300px;
}

.price-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1440px;
    position: relative;
    margin-top: 50px;
    z-index: 1;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gold !important;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    font-size: 24px;
    font-weight: 700;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    color: gold !important;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 50;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: grey;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border: none;
    width: 140px;
    height: 40px;
}

.dropbtn-link {
    text-decoration: none;
    color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: gold;
}
